.mainChat {
    width: 100%;
    padding: 20px;
    height: 100vh;
    overflow-y: scroll
}

.mainChat::-webkit-scrollbar {
    width: 0px;
}

.userMessage {
    display: flex;
    justify-content: end;
}