[data-theme="dark"] {
    --background-primary-color: #0F1828;
    --background-secondary-color: #1B2536;
    --background-tertiary-color: #1E293B;
    --background-quaternary-color: #375FFF;

    --text-primary-color: #F7F7FC;
    --text-secondary-color: #A1A8B3;
    --text-tertiary-color: #F7F7FC;

    --link-primary-color: #F7F7FC;

    --accent-error-color: #E94242;
    --accent-success-color: #2CC069;
    --accent-safe-color: #7BCBCF;

    --gradient-primary: linear-gradient(#D2D5F9, #2C37E1);
    --gradient-secondary: linear-gradient(#EC9EFF, #5F2EEA);

    --shadow-primary: 0 4px 10px rgba(0, 0, 0, 0.5);
    --shadow-secondary: 0 4px 6px rgba(0, 0, 0, 0.3);
}